*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* tools */
.debug{
    border: solid green;
    background-color: rgba(255, 0, 0, .25);
}
/* /tools */

.container{
    margin: 0 15%;
}

.a-button{
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 1.5em 1.5em;
    font-weight: 600;
    text-decoration: none;
}

.white{
    background-color: white;
    color: rgb(35, 39, 42);
}

.grey{
    background-color:rgb(35, 39, 42);
    color: white;
}

.lightblue{
    background-color: rgb(142, 161, 225);
    color: white;
}

/* header */

header{
    background-color: rgb(49, 97, 224);
}



header .container{
    display: flex;
    height: 80px; 
    align-items: flex-start;
    justify-content: space-between;
    align-items: center ;
}

header nav{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav li{
    padding: 0 20px;
}

header .a-button{
    font-size: 12px;
}
/* /header */

/* jumbotron */

.jumbotron{
    height: 550px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.jumbotron .container{
    padding-top: 100px;
}

.jumbotron .container > *{
    padding-top: 30px;
}

.jumbotron h1, .text{
    text-align: center;
}

.jumbotron h1{
    font-size: 50px;
    margin-bottom: 25px;
}

.jumbotron .text{
    font-size: 22px;
    padding: 10px 15%;
}

.jumbotron .download{
    text-align: center;
}

.jumbotron .download .a-button{
    margin: 0 20px;
}

/* /jumbotron */

/* main */

main .container{
    display: flex;
}

main > :nth-child(2n){
    background-color: lightgray;
}

main > :nth-child(2n) .art{
    display: flex;
    flex-direction: row-reverse;
}

.main-image{
    width: 60%;
}

.art .main-text{
    width: 40%;
    text-align: left;
    padding: 5% 5% 5% 0%;
    color: rgb(35, 39, 42);
    
}

.main-text h2{
    font-size: 2.8rem;
    font-weight: 600;
}

.main-text p{
    padding-top: 30px;
    font-size: 22px;
    font-weight: 500;
}

.last-main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.last-main .main-text{
    text-align: center;
}

.last-main .stars{
    padding: 2%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    font-size:1.5em;
}

/* /main */

/* footer */
footer{
    background-color: rgb(35, 39, 42);
    padding-top: 90px;
    padding-bottom: 90px;
}

footer .top{
    border-bottom: solid grey 1px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 25px;
}

footer .bottom{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

footer .container{
    display: flex; 
}

#top-left-footer{
    width: calc(100% / 3);
}

#top-left-footer > *{
    padding-bottom: 20px;
}

#top-left-footer img{
    height: 14px;
    display: inline-block;
}

#top-left-footer span , .social a{
    color: white;
}

#top-left-footer .social a{
    padding-right: 10px;
    font-size: 1.3rem;
}

#top-left-footer h3{
    color: rgb(114, 137, 218);
    font-size: 40px;
}

#top-right-footer{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: calc(100% / 3 * 2);
}

#top-right-footer .list{
    width: calc(100% / 4);
    color: white;
}

#top-right-footer ul{
    list-style: none;
}

#top-right-footer li{
    padding-top: 10px;
}

#top-right-footer h5{
    color: rgb(114, 137, 218);
    font-size: 18px;
}

/* /footer */