*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* tools */
.debug{
    border: solid green;
    background-color: rgba(255, 0, 0, .25);
}
/* /tools */

.container{
    margin: 0 15%;
}

.a-button{
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 1.5em 1.5em;
    font-weight: 600;
    text-decoration: none;
}

.white{
    background-color: white;
    color: rgb(35, 39, 42);
}

.grey{
    background-color:rgb(35, 39, 42);
    color: white;
}

/* header */

header{
    background-color: rgb(49, 97, 224);
}



header .container{
    display: flex;
    height: 80px; 
    align-items: flex-start;
    justify-content: space-between;
    align-items: center ;
}

header nav{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav li{
    padding: 0 20px;
}

header .a-button{
    font-size: 12px;
}
/* /header */

/* jumbotron */

.jumbotron{
    height: 550px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.jumbotron .container{
    padding-top: 100px;
}

.jumbotron .container > *{
    padding-top: 40px;
}

.jumbotron h1, .text{
    text-align: center;
}

.jumbotron h1{
    font-size: 50px;
}

.jumbotron .text{
    font-size: 22px;
    padding: 10px 15%;
}

.jumbotron .download{
    text-align: center;
}

/* /jumbotron */

/* main */


main{/* remove after */
    margin: 10px 0; 
}

main .container{
    display: flex;
}


main > :nth-child(2n){
    background-color: lightgray;
}

main > :nth-child(2n) .container.art{
    display: flex;
    flex-direction: row-reverse;
}

main > :nth-child(2n) .container .main-text{
    text-align: left;
}

.main-image, .main-text{
    padding: 30px;
    height: 740px;
}

.main-image{
    width: 60%;
}

.main-text{
    width: 40%;
    text-align: right;
}

.last-main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-main .immage{
    height: 275px;
}

/* /main */

/* footer */
footer{
    height: 667px;
}


footer .top{
    padding-top: 90px;
    border-bottom: solid grey;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .bottom{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

footer .container{
    display: flex;
    
}

#top-left-footer{
    padding-top:15px;
    width: calc(100% / 3);
    height: 160px;
}

#top-right-footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 66%;
    padding: 0 20px;
}

#top-right-footer .list{
    padding: 15px;
}

#top-right-footer ul{
    list-style: none;
    width:200px;
}

/* /footer */